<div id="contact-content">
  <h5 class="tag-cloud-title">Contact Me</h5>

  <div class="tag-cloud">
    <form
      class="form-horizontal"
      id="my-form"
      action="https://formspree.io/xdownnlw"
      method="POST"
      role="form"
    >
      <div class="form-group">
        <label for="name" class="col-sm-2 control-label">Name:</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="name" />
        </div>
      </div>
      <div class="form-group">
        <label for="email" class="col-sm-2 control-label">Email:</label>
        <div class="col-sm-10">
          <input type="email" class="form-control" id="email" />
        </div>
      </div>
      <div class="form-group">
        <label for="message" class="col-sm-2 control-label">Message:</label>
        <div class="col-sm-10">
          <textarea
            type="text"
            class="form-control"
            rows="4"
            id="message"
            name="message"
          ></textarea>
        </div>
      </div>

      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <button type="submit" class="btn btn-default" id="my-form-button">
            Submit
          </button>
        </div>
      </div>
      <p id="my-form-status"></p>
    </form>

    <!-- Place this script at the end of the body tag -->

    <script>
      window.addEventListener('DOMContentLoaded', function () {
        // get the form elements defined in your form HTML above

        var form = document.getElementById('my-form')
        var button = document.getElementById('my-form-button')
        var status = document.getElementById('my-form-status')

        // Success and Error functions for after the form is submitted

        function success() {
          form.reset()
          button.style = 'display: none '
          status.innerHTML = 'Thanks!'
        }

        function error() {
          status.innerHTML = 'Oops! There was a problem.'
        }

        // handle the form submission event

        form.addEventListener('submit', function (ev) {
          ev.preventDefault()
          var data = new FormData(form)
          ajax(form.method, form.action, data, success, error)
        })
      })

      // helper function for sending an AJAX request

      function ajax(method, url, data, success, error) {
        var xhr = new XMLHttpRequest()
        xhr.open(method, url)
        xhr.setRequestHeader('Accept', 'application/json')
        xhr.onreadystatechange = function () {
          if (xhr.readyState !== XMLHttpRequest.DONE) return
          if (xhr.status === 200) {
            success(xhr.response, xhr.responseType)
          } else {
            error(xhr.status, xhr.response, xhr.responseType)
          }
        }
        xhr.send(data)
      }
    </script>
  </div>
</div>
