

<div id="toc" class="toc-article">
    <div class="toc-title">目录/#TOC</div>
    <% if (item.toc){ %>
        <div id="toc">
            <%- toc(item.content, {list_number: false}) %>
        </div>
    <% } %>
</div>